{% extends "gestion_tienda/base.html" %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras Tienda</title>
</head>
<ul class="nav">
    <li><a href="{% url 'Compras' %}">Compras Totales</a></li>
    <li><a href="{% url 'compra_proveedor' %}">Ventas x Proveedor</a></li>
    <li><a href="#">otro</a></li>
</ul>
<p>Pagina de Gestión de Compras</p>
<body>
    <h1>{{name}}</h1>
    <form action="" method="POST"> {% csrf_token %}
        <table>
            {{formu.as_table}}
        </table>
        <input type="submit" value="Enviar" style="width: 150px">
    </form>
</body>
{% endblock %}
</html>