{% extends "gestion_tienda/base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas Tienda</title>
</head>

<p>Inventario</p>
<body>
    <h1>{{name}}</h1>
    <form action="" method="POST"> {% csrf_token %}
        <table>
            {{formu.as_table}}
        </table>
        <input type="submit" value="Enviar" style="width: 150px">
    </form>
</body>
{{request.POST}}
{% endblock %}